ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color:red;
  }

  .section1 {
      background-image: url('/static/abc.jpg');
      height: 1310px;
      width: 100%;
      text-align: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center; 
  }

  .section2 {
    background-image: url('/static/gaming.jpg');
    height: 1310px;
      width: 100%;
      text-align: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center; 
}

  .section3 {
  background-image: url('/static/fotografi.jpg');
  height: 1310px;
      width: 100%;
      text-align: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center; 

}

  .image1 {
    width: 25%;
    margin: 3em 0;
  }

  .font-profile{
    padding-top: 1em;
    color: white;
  }
    .section4{
      background-image:url('/static/background4.jpg');
      width: 100%;
      height: auto;
      padding-bottom: 100em;
      background-size: cover;

  }

  .hover:hover{
  transform: scale(1.2,1.2);
  }

  .font-judul {
      color: white
  }




  
  